.page {
	background-color: rgba(42, 44, 47, 1);
	margin: 0 auto;
	padding: 0;
	height: 100%;
	align-content: center;
	min-width: 320px;
	text-rendering: optimizeLegibility;
	font-family: 'Inter', sans-serif;

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.page {
		max-width: 100%;
		min-width: 768px;
		max-height: 100%;
		overflow-x: hidden;
	}
}

@media screen and (min-width: 426px) and (max-width: 768px) {
	.page {
		max-width: 100%;
		max-height: 100%;
		overflow-x: hidden;
	}
}

@media (max-width: 425px) {
	.page {
		width: 100%;
		max-height: 100%;
		overflow-x: hidden;
	}
}