.lead__image {
	margin: 0 auto;
	display: block;
	max-width: 984px;
	max-height: 615px;
}


@media screen and (max-width: 1024px) {
	.lead__image {
		max-height: 580px;
		max-width: 100%;
	}
}


@media screen and (max-width: 768px) {
	.lead__image {
		max-height: 100%;
	}
}


@media (max-width: 320px) {
	.lead__image {
		max-height: 200px;
	}
}