.place {
	margin: 0;
	display: grid;
	grid-template-columns: minmax(460px, 460px) minmax(484px, 484px);
	gap: 40px 48px;
	margin-bottom: 80px;
}


@media screen and (max-width: 1024px) {
	.place {
		grid-template-columns: 440px 1fr;
	}
}


@media screen and (max-width: 768px) {
	.place {
		grid-template-columns: 340px 1fr;
		gap: 28px;
	}
}


@media screen and (max-width: 675px) {
	.place {
		grid-template-columns: 1fr;
		gap: 32px 0;
		margin-bottom: 44px;
	}
}


@media screen and (max-width: 320px) {
	.place {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
}