.footer {
	margin: 0 auto;
	max-width: 1184px;
	padding: 92px 48px 24px 48px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}


@media screen and (max-width: 1024px) {
	.footer {
		width: 90%;
		padding: 88px 24px 24px;
	}
}


@media screen and (max-width: 675px) {
	.footer {
		max-width: 650px;
	}
}


@media screen and (max-width: 425px) {
	.footer {
		max-width: 186px;
		margin-left: 16px;
		max-height: 100%;
		flex-direction: column;
		padding: 64px 24px 24px 0;
	}
}